<extend name="base/layout" />
<block name="body">
    <fieldset class="layui-elem-field">
        <legend>{$task.name}</legend>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>任务等级</th>
                <th>完成状态</th>
                <th>总数据量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="level" id="vo">
                <tr>
                    <td>{$vo.level}级</td>
                    <td><if condition="$vo.staus eq 1">已完成<else/>未完成</if></td>
                    <td>{$vo.count}条</td>
                    <td><a class="layui-btn layui-btn layui-btn-mini" href="/user/putToCvs?id={$task.id}&level={$vo.level}" >下载cvs</a></td>
                </tr>
            </volist>
            </tbody>
        </table>
    </fieldset>
</block>
<block name="footscript">
    <script>
        layui.use(['element','table'], function(){
            var element = layui.element;

            //…
        });
    </script>
</block>