
input, textarea {
    border: 1px solid transparent;
    color: #444;
}

input.Number {
    color: #08f!important;
    font-size: 12px;
    border: 0px;
    padding: 2px;
    cursor: col-resize;
}

select {
    color: #666;
    background-color: #ddd;
    border: 0px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

select:hover {
    background-color: #fff;
}

/* UI */

#viewport {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0px;
    bottom: 0px;
}

#viewport #info {
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    pointer-events: none;
}
