<extend name="base/layout" />
<block name="body">
    <form method="post">
        <div class="panel panel-default">
            <div class="panel-heading">创建任务</div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon">任务标识</span>
                    <span>{$task.name}</span>
                </div>
                <div class="well" id="pref">
                    <volist name="option" id="op">
                        <div>{$op.url}</div>
                    </volist>
                </div>
            </div>
        </div>
        <div class="panel panel-default" >
            <div class="panel-heading">活动等级</div>
            <div class="panel-body" id="tasklevel">
                <volist name="level" id="le">
                    <div class="panel panel-default">
                        <div class="panel-heading">{$le.level}级执行脚本</div>
                        <div class="panel-body">
                            <label class="col-xm-2">脚本</label>
                            <div class="col-xm-10">{$le.scripts}</div>
                            <label class="col-xm-2">属性</label>
                            <div class="col-xm-10">{$le.attrs}</div>
                        </div>
                    </div>
                </volist>
            </div>
        </div>
    </form>
</block>