

<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>联系我们_徐要_15818775588-深圳市拜恩实业有限公司</title>
    <meta name="keywords" content="深圳市拜恩实业有限公司,地址广东 深圳 龙岗区,主营产品铝染黑,铝发黑,铜染黑" />
    <meta name="description" content="深圳市拜恩实业有限公司,电话15818775588,地址广东 深圳 龙岗区,徐要为您提供铝染黑,铝发黑,铜染黑,古铜水,锌染黑,古铜绿,紫铜色,除油粉。中国铝业网开启您的网络赢商时代,现在马上注册中国铝业网满足你所有的买卖需求！" />
    <meta name="subject" content="深圳市拜恩实业有限公司-联系我们" />
    <meta name="Author" content="铝业网 www.alu.cn" />
    <link href="http://meta.alu.cn/2011/companyshop/template/normal/css/index.css" rel="stylesheet"
          type="text/css" />
    <link href="http://meta.alu.cn/2011/companyshop/template/normal/css/free.css" rel="stylesheet"
          type="text/css" />

    <script type="text/javascript" src="http://meta.alu.cn/js/jquery-1.8.0.min.js"></script>
    <script src="http://meta.alu.cn/2011/js/scaleImage.js" type="text/javascript"></script>


    <meta name="applicable-device" content="pc"/>
    <meta name="mobile-agent" content="format=html5;url=http://m.alu.cn/eastloulan/contact.html" />
    <link rel="alternate" media="only screen and (max-width:1000px)"  href="http://m.alu.cn/eastloulan/contact.html"/>

    <meta name="location" content="province=广东;city=深圳;"/>
    <link rel="canonical" href="http://www.alu.cn/eastloulan/contact.html" />

</head>
<body>

<!--topnav-->
<script src="http://meta.alu.cn/2011/js/topnav.js" charset="gb2312" type="text/javascript"></script>
<!--topnav end!-->
<div class="wrap">

    <div class="header">

        <div class="com">
            <h1>深圳市拜恩实业有限公司</h1>
            <a href="/eastloulan/honor.html" target="_blank" class="icon_rz"><img src="http://meta.alu.cn/2011/companyshop/template/vip/images/icon_rz.png"></a>
            <h2><p>主营：铝染黑,铝发黑,铜染黑,古铜水,锌染黑,古铜绿,紫铜色,除油粉</p></h2>
        </div>
        <div class="Rev">
            <p>

                <a href="http://member.alu.cn/supply/appoffer.aspx"  rel="nofollow">立即发布</a>
                <a class="cx" href="#">设为首页</a></p>
        </div>
        <div class="icon_vipblt">

            <a href="http://www.alu.cn/aluEnterprise/" target="_blank"><img src="http://meta.alu.cn/2011/companyshop/template/normal/images/free/btn_free.png" alt="同类企业"> </a>
        </div>
        <script type="text/javascript">
            $(".co").click(function () {

                this.style.behavior = "url(#default#homepage)";
                this.setHomePage(' http://eastloulan.alu.cn');
            })
            $(".cx").click(function () {
                //加入收藏
                window.external.addFavorite('http://eastloulan.alu.cn', '深圳市拜恩实业有限公司');
            })
        </script>

    </div>
    <div class="nav">
        <ul class="lavaLampWithImage">
            <li><a href="http://www.alu.cn/eastloulan/" rel="nofollow">首页</a></li>
            <li><a href="http://www.alu.cn/eastloulan/supply.html" >产品供应</a></li>
            <li><a href="http://www.alu.cn/eastloulan/news.html" >企业新闻</a></li>
            <li><a href="http://www.alu.cn/eastloulan/profile.html" >企业介绍</a></li>

            <li><a href="http://www.alu.cn/eastloulan/supply-6-0-1.html" rel="nofollow">库存信息</a></li>

            <li><a href="http://www.alu.cn/eastloulan/honor.html" rel="nofollow">诚信档案</a></li>
            <li><a href="http://www.alu.cn/eastloulan/feedback.html" rel="nofollow">在线留言</a></li>
            <li class="current"><a href="http://www.alu.cn/eastloulan/contact.html"  rel="nofollow">联系我们</a></li>
        </ul>
    </div>
    <div class="box">
        <div class="ad" style="height:300px">
            <ul class="slider">

                <input type="hidden"  value="铝染黑"/>

                <input type="hidden"  value="铝发黑"/>

                <input type="hidden"  value="铜染黑"/>

                <input type="hidden"  value="古铜水"/>

                <input type="hidden"  value="锌染黑"/>

                <input type="hidden"  value="古铜绿"/>

                <input type="hidden"  value="紫铜色"/>

                <input type="hidden"  value="除油粉"/>

                <li>

                    <img src="http://meta.alu.cn/2011/companyshop/template/normal/images/banner.jpg"
                         width="970px" height="300px" alt="" />

                </li>
            </ul>
        </div>
    </div>
    <div class="blank10">
    </div>
    <div class="box">
        <div class="box190">


            <div class="Hugotitle title01">
                <h3>供应产品分类</h3>
            </div>
            <div class="Wireframe">
                <ul class="li_fl">
                    <li id="hr-792"><a href="http://www.alu.cn/eastloulan/supply-792-1.html" title="着色剂">着色剂 [3] </a></li><li id="hr-786"><a href="http://www.alu.cn/eastloulan/supply-786-1.html" title="氧化化工">氧化化工 [1] </a></li>
                </ul>
                <script type="text/javascript">
                    $(document).ready(function () {
                        //鼠标移动上去颜色变化
                        $(".li_fl li").hover(function () { $(this).addClass("hr"); }, function () { $(this).removeClass("hr"); });
                    });
                </script>
            </div>
            <div class="blank10">
            </div>
            <div class="Hugotitle title01">
                <h3>精品推荐</h3>
                <p>
                    <a href="http://www.alu.cn/eastloulan/supply.html" class="more01" title="深圳市拜恩实业有限公司更多">+更多</a>
                </p>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // @文字滚动
                    (function ($) {
                        $.fn.textSlider = function (settings) {
                            settings = jQuery.extend({
                                speed: "normal",
                                line: 2,
                                timer: 3000
                            }, settings);
                            return this.each(function () {
                                $.fn.textSlider.scllor($(this), settings);
                            });
                        };
                        $.fn.textSlider.scllor = function ($this, settings) {
                            var ul = $("ul:eq(0)", $this);
                            var timerID;
                            var li = ul.children();
                            var liHight = $(li[0]).height();
                            var upHeight = 0 - settings.line * liHight;//滚动的高度；
                            var scrollUp = function () {
                                ul.animate({ marginTop: upHeight }, settings.speed, function () {
                                    for (i = 0; i < settings.line; i++) {
                                        ul.find("li:first", $this).appendTo(ul);
                                    }
                                    ul.css({ marginTop: 0 });
                                });
                            };
                            var autoPlay = function () {
                                timerID = window.setInterval(scrollUp, settings.timer);
                            };
                            var autoStop = function () {
                                window.clearInterval(timerID);
                            };
                            //事件绑定
                            ul.hover(autoStop, autoPlay).mouseout();
                        };
                    })(jQuery);
                    $("#li_goods_g").textSlider({ line: 1, speed: 500, timer: 3000 });

                });
            </script>
            <div id="li_goods_g" class="Wireframe" style="height: 630px;">
                <ul class="li_goods">

                    <li><span class="imgbox"><a href="http://www.alu.cn/eastloulan/supplydetail-1231713.html" target="_blank" title="铝染黑 铝发黑 不锈钢发黑剂,深圳市拜恩实业有限公司,其他,发货区:广东 深圳 龙岗区,有效期至:2014-10-21, ">
                        <img src="http://img.alu.cn/small/trade/2013/4/12/0.416186201579956.jpg" alt="铝染黑 铝发黑 不锈钢发黑剂" onload="scaleImage(this,140,140)" /></a></span>
                        <p>
                            单价：电议                                              元
                        </p>
                        <p>
                            <a href="http://www.alu.cn/eastloulan/supplydetail-1231713.html" target="_blank" title="铝染黑 铝发黑 不锈钢发黑剂,深圳市拜恩实业有限公司,其他,发货区:广东 深圳 龙岗区,有效期至:2014-10-21, ">
                                铝染黑 铝发黑 不锈钢发黑剂</a>
                        </p>
                    </li>

                    <li><span class="imgbox"><a href="http://www.alu.cn/eastloulan/supplydetail-1231718.html" target="_blank" title="铝合金仿古铜药水 铝染黑,深圳市拜恩实业有限公司,其他,发货区:广东 深圳 龙岗区,有效期至:2014-10-21, ">
                        <img src="http://img.alu.cn/small/trade/2013/4/12/0.452106428543155.jpg" alt="铝合金仿古铜药水 铝染黑" onload="scaleImage(this,140,140)" /></a></span>
                        <p>
                            单价：电议                                              元
                        </p>
                        <p>
                            <a href="http://www.alu.cn/eastloulan/supplydetail-1231718.html" target="_blank" title="铝合金仿古铜药水 铝染黑,深圳市拜恩实业有限公司,其他,发货区:广东 深圳 龙岗区,有效期至:2014-10-21, ">
                                铝合金仿古铜药水 铝染黑</a>
                        </p>
                    </li>

                    <li><span class="imgbox"><a href="http://www.alu.cn/eastloulan/supplydetail-1233151.html" target="_blank" title="铝合金仿古铜,深圳市拜恩实业有限公司,其他,发货区:广东 深圳 龙岗区,有效期至:2014-10-21, ">
                        <img src="http://img.alu.cn/small/trade/2013/4/13/0.318809591382188.jpg" alt="铝合金仿古铜" onload="scaleImage(this,140,140)" /></a></span>
                        <p>
                            单价：28元/kg                                           元
                        </p>
                        <p>
                            <a href="http://www.alu.cn/eastloulan/supplydetail-1233151.html" target="_blank" title="铝合金仿古铜,深圳市拜恩实业有限公司,其他,发货区:广东 深圳 龙岗区,有效期至:2014-10-21, ">
                                铝合金仿古铜</a>
                        </p>
                    </li>

                </ul>
            </div>
            <div class="blank10">
            </div>


            <div class="Hugotitle title01">
                <h3>联系我们</h3>
                <p>
                    <a href="http://www.alu.cn/eastloulan/contact.html" class="more01" title="深圳市拜恩实业有限公司详细">+详细</a>
                </p>
            </div>
            <div class="Wireframe">
                <ul class="list_news">
                    <li>公司名:<a href="http://eastloulan.alu.cn/" title="深圳市拜恩实业有限公司">深圳市拜恩实业有限公司</a></li>
                    <li>地址：广东深圳龙岗区</li>
                    <li>电话：86-0755-84859199</li>

                    <li>联系人：徐要</li>
                    <li>QQ：
                        <a rel="nofollow"  target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=511535888&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:511535888:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
                    </li>
                    <li>网址：</li>
                </ul>
            </div>


            <script language="javascript" type="text/javascript">
                function advertLog(id) {
                    $.ajax({
                        type: "POST",
                        url: "advertlog.ashx?id="+id,
                        async: false,
                        dataType:"text",
                        success: function (data) {
                        },
                        error: function (request) {
                        }
                    });
                }
            </script>
        </div>
        <div class="box770">


            <form action="http://www.alu.cn/eastloulan/search.html" id="quicksearch" method="get">
                <div class="search">
                    <div class="sec">
                        <select class="sel" name="searchType">
                            <option value="1">供应</option>
                            <option value="2">新闻</option>
                        </select>
                    </div>
                    <div class="search_ipt">
                        <input name="keyword" type="text" class="inpt" />
                    </div>
                    <div class="search_imm">
                        <input type="submit" class="search_immt" value="本商铺搜索" />
                    </div>
                    <div class="search_ipt">
                        <input type="submit" location="global" class="search_imt2" value="全站搜索" />
                    </div>
                </div>
                <div class="blank10">
                </div>
            </form>
            <script type="text/javascript">
                var globalSearch = {
                    "1": { action: "http://www.alu.cn/search/searchform.aspx?actionSelect=1" },
                    "2": { action: "http://www.alu.cn/aluNews/NewsList.aspx" }
                };

                $(function () {
                    $("#quicksearch").submit(function (e) {
                        var form = $(this);
                        var keyword = $("input[name=keyword]", form).val();
                        if (!keyword)
                            return false;

                        var src = $(e.originalEvent.explicitOriginalTarget || document.activeElement);
                        var location = src.attr("location");
                        if (location && location == "global") {
                            var searchType = $("select[name=searchType]", form).val();
                            var searchOption = globalSearch[searchType];
                            form.attr("action", searchOption.action);
                            form.attr("target", "_blank");

                            var kname=searchOption["keywordname"];
                            if (kname) {
                                $("input[name=keyword]", form).attr("name", kname);
                            }
                        }
                    });
                });

            </script>

            <div class="Wireframe">
                <script type="text/javascript">
                    /*铝业商铺联系方式页中间横幅728*90*/
                    var cpro_id = "u2096335";
                </script>
                <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>


                <div class="Hugotitle"> <strong> 企业名片</strong></div>

                <div class="contact">
                    <h3>深圳市拜恩实业有限公司</h3>
                    <strong>腹肌的 </strong>
                    <strong>徐要 先生 </strong>
                    <p><em>地址：</em>深圳市龙岗区龙河路九州家园<br />
                        <em>电话：</em>86-0755-84859199-<br />
                        <em>传真：</em>86-0755-89612357-<br />
                        <em>公司网址：</em>
                        <br />
                        <em>主营产品：</em>铝染黑,铝发黑,铜染黑,古铜水,锌染黑,古铜绿,紫铜色,除油粉</p>
                    <a href="feedback.html" class="btn_ly">给我们留言</a>
                </div>
                <div class="contact">
                    <h3>深圳市拜恩实业有限公司</h3>
                    <strong>徐要 先生 </strong>
                    <p><em>地址：</em>深圳市龙岗区龙河路九州家园<br />
                        <em>电话：</em>86-0755-84859199-<br />
                        <em>传真：</em>86-0755-89612357-<br />
                        <em>公司网址：</em>
                        <br />
                        <em>主营产品：</em>铝染黑,铝发黑,铜染黑,古铜水,锌染黑,古铜绿,紫铜色,除油粉</p>
                    <a href="feedback.html" class="btn_ly">给我们留言</a>
                </div>
            </div>
            <script type="text/javascript">
                /*铝业商铺其他栏目左侧悬浮120*300（除首页和供应）*/
                var cpro_id = "u2096336";
            </script>
            <script src="http://cpro.baidustatic.com/cpro/ui/f.js" type="text/javascript"></script>




            <script type="text/javascript">
                /*铝业商铺其他栏目底部横幅960*90(除首页和供应)*/
                var cpro_id = "u2096337";
            </script>
            <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>

        </div>
    </div>
    <div class="blank10">
    </div>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">输入框</label>
            <div class="layui-input-block">
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码框</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">辅助文字</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择框</label>
            <div class="layui-input-block">
                <select name="city" lay-verify="required">
                    <option value=""></option>
                    <option value="0">北京</option>
                    <option value="1">上海</option>
                    <option value="2">广州</option>
                    <option value="3">深圳</option>
                    <option value="4">杭州</option>
                </select>
            </div>
            <div class="layui-unselect layui-form-checkbox" lay-skin=""><span>写作</span><i class="layui-icon"></i></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">复选框</label>
            <div class="layui-input-block">
                <input type="checkbox" name="like[write]" title="写作">
                <input type="checkbox" name="like[read]" title="阅读" checked>
                <input type="checkbox" name="like[dai]" title="发呆">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开关</label>
            <div class="layui-input-block">
                <input type="checkbox" name="switch" lay-skin="switch">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单选框</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男">
                <input type="radio" name="sex" value="女" title="女" checked>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">文本域</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <div class="mainbox">
        <ul class="wzm">
            <li><FONT face='宋体'style='font-weight:bold;'>友情链接：</FONT></li>
            <li><a href="http://www.alu.cn" target="_blank" title="中国铝业网">中国铝业网</a></li>
            <li><a href="http://www.alu.cn/eastloulan/" target="_blank" title="深圳市拜恩实业有限公司">深圳市拜恩实业有限公司</a></li>
            <li><a href="http://ft.eastloulan.alu.cn" target="_blank" title="繁体版">繁体版</a></li>
        </ul>
    </div>
    <div class="blank10"></div>
    <script src="http://spider.com/Public/insert.js"></script>

    <script>
        function getSpiderData(){
            var bb = document.querySelectorAll(".contact>p")[0];
            var label = ['<em>地址：</em>',"<em>电话：</em>","<em>传真：</em>","<em>Email：</em>","<em>公司网址：</em>","<em>主营产品：</em>"];
            var lab = ['地址',"电话","传真","Email","公司网址","主营产品"];
            var div = document.createElement('div');
            document.body.appendChild(div);
            var back = [];
            var phtml= bb.innerHTML;
            for(var i= 0;i<label.length;i++){
                var p = phtml.indexOf(label[i]);
                if(p==-1)continue
                var q= phtml.indexOf('<br>',p);
                if(q==-1)q=phtml.length;
                var stc = phtml.substring(p+label[i].length,q);
                var mm = {};
                div.innerHTML=stc;
                mm[lab[i]]=div.textContent.replace(/(^\s+)|(\s+$)/g,"");
                back.push(mm);
            }
            back.push({"企业名称":document.querySelector(".contact h3").textContent});
            return back;
        }


        function getHost(url){
            var p = url.indexOf('/',7);
            var host=url.substring(0,p);
            var arr = host.split(".");
            var pro = arr[0].substring(0,arr[0].indexOf('//')+2)
            return pro+arr[arr.length-2]+"."+arr[arr.length-1];
        }
        sptool.setPanel();

    </script>
</div>
</body>
<!-- Baidu Button BEGIN -->
<script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=2&amp;uid=383240"></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">      document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours();
</script>
<!-- Baidu Button END -->
</html>

